@font-face {
  font-family: "Anonymous Pro";
  src: url("fonts/AnonymousPro-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Anonymous Pro";
  src: url("fonts/AnonymousPro-Bold.ttf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Anonymous Pro";
  font-size: 14px;
  line-height: 1.42857143;
  background: #fdf7e2;
  color: #333;
  margin: 0;
}
h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
h1 {
  padding-left: 15px;
  font-size: 36px;
  margin-top: 20px;
}
h2 {
  font-size: 140%;
  font-weight: bold;
}
h3 {
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  color: #bd3613;
}
.invisible-space {
  width: 0px;
  font-size: 0px;
}
p {
  font-size: 10vh;
}
a {
  color: #428bca;
  text-decoration: none;
}
ul {
  padding: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 10px;
}
li {
  width: 100%;
  font-weight: 400;
  padding-bottom: 5px;
}
.food {
  position: relative;
  margin-top: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
footer {
  font-size: 0.9em;
  margin-top: 20px;
}
/* Emulate Bootstrap Grid layout */
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-sm-6,
.col-md-3 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-md-3 {
    width: 25%;
  }
  .col-md-12 {
    width: 100%;
  }
}
