<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mat @ Dtek</title>
  <meta name="description" content="Food around Chalmers">
  <meta name="author" content="Adam Sandberg Ericsson">
  <meta name="author" content="Johan Bowald">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
  <style>
    body {
      font-family: 'Anonymous Pro';
      background: #fdf7e2;
    }

    .main {
      height:100vh;
    }

    h2, h3 {
      margin: 0;
    }

    h1 {
      padding-left: 15px;
    }

    h2 {
      font-size: 140%;
      font-weight: bold;
      margin-bottom: 10px;
    }

    h3 {
      margin-right: 5px;
      display: inline-block;
      font-size: 100%;
      font-weight: bold;
      color: #BD3613;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }

    li {
      width: 100%;
      font-weight: 400;
      padding-bottom: 5px;
    }

    .food {
      position: relative; 
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container-fluid main">
    <h1>{{date}}</h1>
    <div>
      {{#restaurants}}
        <div class="col-xs-12 col-sm-6 col-md-4 food">
          <h2>{{name}}</h2>
          <ul class="food-menu">
            {{#menu}}
              <li><h3>{{lunch}}</h3> {{spec}}</li>
            {{/menu}}
            {{^menu}}
              <li>Ingen lunch idag!</li>
            {{/menu}}
          </ul>
        </div>
      {{/restaurants}}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12"><a href="https://github.com/adamse/mat-chalmers">Kod på Github</a></div>
  </div>
</body>
</html>
